.sectionContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  color: var(--light);
  background-color: var(--dark);
  min-height: 100vh;
  opacity: 0;
}

.aboutTitle {
  color: var(--gold);
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
}

.mePic {
  width: 120px;
  padding: 2rem;
}

.aboutContent {
  font-size: 1rem;
  max-width: 800px;
  text-align: center;
 
}

@media screen and (max-height: 720px) {
  .mePic {
    visibility: hidden;
    padding: 0px;
    height: 0px;
  }
}

.aboutContent p {
  margin-bottom: 1rem;
}

.aboutContent .link {
  color: var(--gold);
  text-decoration: none;
  font-weight: bold;
}
