.appContainer {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.backButton {
  position: absolute;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--light);
  background-color: var(--dark);
  border: 2px solid var(--gold);
  cursor: pointer;
  transition: all 0.3s ease;
  bottom: 5%;
}

@media (max-width: 750px) {
  .backButton {
    margin-bottom: 60px;
  }
}

.backButton:hover {
  background-color: var(--gold);
  color: var(--dark);
}
